# Виртуальное окружение
venv/
env/
ENV/
.venv/

# Результаты тестов и отчёты
results/
final-report/
allure-results/
allure-report/

# Кэш Python
__pycache__/
*.pyc
.pytest_cache/

# Файлы IDE
.vscode/
.idea/